<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>webapp.root</param-value>
	</context-param>
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>WEB-INF/logback.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring-*.xml</param-value>
	</context-param>

	<!-- ====================================================== -->
	<!-- Listeners -->
	<!-- ====================================================== -->
	<listener>
		<listener-class>com.peiliping.frame.LogbackConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- ====================================================== -->
	<!-- Servlet Mappings -->
	<!-- ====================================================== -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>400</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.html</location>
	</error-page>
</web-app>